.loginjoin {
  font-family: "Roboto-Medium";
  text-align: center;
  align-items: center;
  height: 100vh;
}
.login_form {
  margin-top: 50px;
  margin-bottom: 20px;
}

.loginjoin_button {
  border-color: transparent;
  width: 400px;
  margin: 5px;
  height: 48px;
  padding-left: 10px;
  cursor: pointer;
}
.login_option {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.login_findpw {
  border: none;
  background-color: white;
  text-decoration: underline;
  margin-top: 3px;
  cursor: pointer;
}
.loginjoin_input {
  width: 400px;
  height: 48px;
  padding-left: 10px;
  margin-bottom: 2px;
  /* margin-left: 30px; */
}
/* .join_input_email {
  width: 300px;
  height: 48px;
  padding-left: 10px;
  margin-bottom: 2px;
} */
.join_email_direct {
  width: 90px;
  height: 53px;
  margin-left: 10px;
  padding-left: 4px;
}

.join_agree {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 12px;
}
.checkbox_off {
  appearance: none;
  border-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: lightgray;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 1rem;
  cursor: pointer;
}
.checkbox_on {
  appearance: none;
  border-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 1rem;
  background-color: #684fca;
  cursor: pointer;
}
.checkbox_label {
  display: flex;
  margin: 5px;
  margin-right: 225px;
  cursor: pointer;
}
.clearBtn_name,
.clearBtn_pw,
.clearBtn_confirmPw {
  position: relative;
  right: 35px;
  color: rgb(130, 130, 130);
  background-color: white;
  border-color: transparent;
  border-radius: 1.5rem;
  cursor: pointer;
}
.clearBtn_email {
  position: relative;
  right: 35px;
  color: rgb(130, 130, 130);
  background-color: white;
  border-color: transparent;
  border-radius: 1rem;
  cursor: pointer;
}
