.year_month {
  position: absolute;
  left: 97px;
  top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: black;
}

.dayList {
  display: flex;
  position: absolute;
  left: -5px;
  top: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 34px;

  /* background-color: rgba(217, 217, 217, 0.5); */
}

.dayBtn {
  border: 0;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgba(217, 217, 217, 0);
  cursor: pointer;
}
.todayBtn {
  border: 0;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  padding-right: 25px;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 39px;
  cursor: pointer;
}
.date {
  padding-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 34px;
  color: black;
}
.before_date {
  padding-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 34px;
  color: #999999;
}
.dayOfWeek {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 34px;
  color: #999999;
}
