.title {
  width: 550px;
  margin: 20px;
  margin-left: 70px;
  margin-bottom: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;
  text-align: center;
  border-bottom: 3.5px solid black;
}
.scheduleInput {
  border-color: transparent;
  border-bottom: 3px solid #bebebe;
  background-color: #99999900;
  margin-left: 30px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}
.scheduleForm {
  margin-left: 65px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
}
.timeSelect {
  border: 0;
  background-color: #440c0c00;
}
.scheduleBtn {
  border: 0;
  background-color: #99999900;
  font-size: 20px;
  cursor: pointer;
}
.scheduleList {
  margin-bottom: 20px;
  margin-left: 15px;
}
.content {
  margin-right: 13px;
  margin-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
.done_content {
  margin-right: 13px;
  margin-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: #bebebe;
}
