.todo_off {
  appearance: none;
  border-color: transparent;
  background-image: url("/src/img/todo_off.png");
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
  margin-right: 7px;
}
.todo_on {
  appearance: none;
  border-color: transparent;
  background-image: url("/src/img/todo_on.png");
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
  margin-right: 7px;
}
.content {
  margin-right: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.done_content {
  margin-right: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: #bebebe;
}
.title {
  width: 550px;
  margin-left: 70px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;
  text-align: center;
  border-bottom: 3.5px solid black;
}
.todoInput {
  border-color: transparent;
  border-bottom: 3px solid #bebebe;
  background-color: #99999900;
  margin-left: 67px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}
.todoBtn {
  border: 0;
  background-color: #99999900;
  font-size: 20px;
  cursor: pointer;
}
.todoList {
  margin-bottom: 20px;
  margin-left: 67px;
}
