div {
  font-family: "Roboto-Medium";
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2px;
  border-bottom: 1.5px solid lightgray;
}
nav > div {
  display: flex;
  flex-direction: row;
  /* position: absolute; */
  /* float: right; */
  height: 65px;
}
nav > div > button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
ul li {
  list-style: none;
}

#menu {
  position: absolute;
  top: -8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  color: black;
  width: 200px;
  height: 40px;
  margin: 0 auto;
}
.menu_item_on {
  display: flex;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-top: 16px;
  width: 600px;
  height: 25px;
  position: relative;
  left: -40px;
  background-color: white;
  border: 1px solid #a9a9a9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* transform: translateY(50px); */
}
.menu_item_off {
  display: none;
}
#menu > li {
  /* font-size: 17px; */
}
#menu > li > div > li {
  margin-right: 30px;

  padding-left: 30px;
  border-left: 1px solid #a9a9a9;
}

.loginjoin_btn {
  float: right;
  border-color: transparent;
  background-color: white;
  color: black;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}
.container {
  display: flex;
  position: absolute;
  top: 24px;
  left: 146px;
  /* width: 100px; */
  /* justify-content: space-around; */
}

/* input 중에 id가 trigger인 항목에 대한 css */
input[id="trigger"] {
  display: none;
}

/* label 중에 for가 trigger인 항목 */
label[for="trigger"] {
  width: 25px;
  height: 15px;
  display: block;
  position: relative;
  cursor: pointer;
  margin-top: 8.3px;
}

/* label 중에 for가 trigger인 항목 안의 span */
label[for="trigger"] span {
  display: block;
  height: 2px;
  background-color: #000;
  left: 0;
  width: 100%;
  position: absolute;
  transition: 0.3s;
  z-index: 1000;
}

/* label[for=trigger] > span의 n번째 요소 */
label[for="trigger"] span:nth-child(1) {
  top: 0;
}

label[for="trigger"] span:nth-child(2) {
  top: 48%;
}

label[for="trigger"] span:nth-child(3) {
  top: 100%;
}

/* check시 변하는 label[for=trigger] > span의 n번째 요소  */
input[id="trigger"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

input[id="trigger"]:checked + label span:nth-child(2) {
  opacity: 0;
}

input[id="trigger"]:checked + label span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
h2.logo {
  position: absolute;
  width: 62px;
  height: 27px;
  left: 52px;
  top: 26px;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 27px;
  text-decoration-line: none;
  color: black;
}

/* 메뉴바 */
/* .menu {
  width: 250px;
  height: 10vh;
  background-color: rgb(102, 67, 67);
  position: fixed;
  top: 0;
  left: 0;
  left: -250px;
  transition: 0.3s;
} */

/* input[id=trigger]가 체크되었을 때 사이드바가 나오는 형제 인접자 */
/* input[id="trigger"]:checked ~ .menu {
  left: 0;
} */

/* check시 같이 밀려나가는 CSS 햄버거 메뉴 */
/* input[id="trigger"]:checked + label[for="trigger"] {
  left: 210px;
  transition: 0.3s;
} */
