@font-face {
  font-family: "Roboto-Medium";
  src: url("./fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("./fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("./fonts/Roboto-Black.ttf");
}
